* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --text-color-header: #FFFFFF;

  --primary-color: #065E7C;

  --background-color: #000000;
}

body {
  font-size: 1.6rem;
  color: var(--text-color-header);
  background-color: var(--background-color);
}

body * {
  font-family: var(--ff-primary);

}


.sr-only { /*usado para tirar visualmente um elemeto da página mas sem fazer com que atrapalhe os leitores de tela*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; /*a ideia é que quando o elemento sair da página esse 1px que colocamos como largura e altura não interferisse/ficasse na página*/
  overflow: hidden; /*não permite que o conteúdo transborde já qua a altura e largura são bem pequenos*/
  clip: rect(0, 0, 0, 0); /*para forçar que o elemento tem que ficar "inexistente" na página*/
  white-space: nowrap; /*não permite que aconteça a quebra de texto*/
  border-width: 0;
}

#app {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0 7rem;
}

header h1 {
  font-size: 2rem;
}

.search {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.search input {
  height: 4.8rem;
  border: 1px solid #06181C;
  border-radius: .4rem;
  padding: 0 .8rem;

  min-width: 640px;

  background-color: #06181C;

  color: #FFFFFF;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;

  background-color: var(--primary-color);
  border-radius: .4rem;
  height: 4.8rem;
  border: none;
  padding: 0 3.2rem;
  color: #FFFFFF;

  text-transform: uppercase;
  font-weight: bold;

  cursor: pointer;
}

.search button:hover {
  filter: brightness(1.1);
}

.table {
  border: 1px solid #4A808C;}

table {
  width: 100%;
  border-collapse: collapse; /*junta os espaços característicos da table*/
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 1.4rem;
  color: #E1E1E6;
}

table th {
  background: #092D38;
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}

table tr:nth-child(even) {
  background: #06181C;
}

table tr:nth-child(odd) {
  background: #030b0e;
}


table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;

}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;

  color: #F75A68;

  cursor: pointer;
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  max-height: 600px;

  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color: #4E5455;
  font-size: 2.5rem;

  background-color: #06181C;
  height: 300px;
  border-bottom-right-radius: .8rem;
  border-bottom-left-radius: .8rem;
  border: 1px solid #4A808C;
}

.empty-state p {
  line-height: 2.5rem;
  text-align: center;
}

.hide {
  display: none;
}